<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head') -%>
    <body>
      <%- include('../includes/header') -%>
  
      <%- include('../includes/sidebar') -%>
      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col">
<div>
    <a href="/grade">Trở lại</a>
</div>
<div>
    
    <form method="POST">
        Bạn muốn xóa kết quả này  : <strong></strong> ?
        <button type="submit" class="btn btn-primary">Xóa</button>
    </form>
</div>
</div> 
</div>
</div>
</div>
</div>
<%- include('../includes/footer') -%>
</body>
</html>
